@import '../../theme/base/const';
@import '../../theme/base/mixin';
@import '../../theme/base/common';

.Search_Result {
  @include box-type-1();
  box-shadow: none;
  display: flex;
  flex-direction: row;
  min-height: 60px;
  padding: 3px 10px;
  border: 1px dashed lighten($primary-dark, 25%);
  margin: 0 5px 5px 5px;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9em;

  b {
    color: lighten($primary-dark, 5%);
  }

  span {
    // margin-left: 5px;
  }

  span.search_result_location {
    align-self: stretch;
    font-weight: bold;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-content: space-between;
    flex-grow: 1;
    padding:0 7px;

    .button_little {
      cursor: default;
      @include button_little();
      // height: 20px;
      // padding: 0 4px;
      margin: 3px;
      // color : #111;
      font-weight: normal;

      .remove_icon:hover {
        color : $primary-dark !important;
      }

      span {
        margin-left: 3px;
      }
    }
  };

  .search_result_location_edit {

    align-self: stretch;

    button {
      // background-color: @primary-dark;
      // border-color: darken(@primary-dark, 3%);
      height: 100%;
      transition-delay: 0.1s;
      &:hover {
        border-color: darken($primary-dark, 7%);
        color : darken($primary-dark, 0%);
      }
      &:active, &:focus {
        background-color: darken($primary-dark, 4%);
        border-color: darken($primary-dark, 7%);
        color : $main-color;
      }
    }
    
  }
}
