@import '../../theme/const.less';
@import '../../theme/mixin.less';

.Search_Result {
  .box-type-1();
  box-shadow: none;
  display: flex;
  flex-direction: row;
  min-height: 60px;
  padding: 3px 10px;
  border: 1px dashed lighten(@primary-dark, 25%);
  margin: 5px 5px 10px 5px;
  justify-content: flex-start;
  align-items: center;
  font-size: 0.9em;

  b {
    color: lighten(@primary-dark, 5%);
  }

  span {
    margin-left: 5px;
  }

  span.search_result_location {
    align-self: stretch;
    font-weight: bold;
    font-style: italic;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-content: space-around;
    button {
      font-size:10px;
      height: 20px;
      padding: 0 4px;
      margin: 3px;
    }
  }
}
