@import '../../../theme/base/const';
@import '../../../theme/base/mixin';

.auth-buttons {
  width: 100%;
}

.User_Container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}
