@import '../../theme/base/const';
@import '../../theme/base/mixin';

.List_Container {
  // margin-top: -40px;
  // height: calc(100vh - (#{header-height} - (#{main-padding}*2)));
  height: calc(100vh - #{$header-height} - #{$main-padding*2});
  display: grid;

  .List_Controller {
    margin: 0 1px;
    background-color: $main-color;
    @include primary-border();
    border-top-width: 15px !important;
    border-top-left-radius: 7px;
    border-top-right-radius: 7px;
    @include box-shadow-type-1(lighten($primary-dark, 50%));
  }
}
