@import (reference) "../../theme/const.less";
@import (reference) "../../theme/mixin.less";

.List_Container {
    
    margin-top: -25px;
    height: calc(~"100vh -" (@header-height - (@main-padding*2)));
    display: grid;
    // grid-template-rows: 60px 1fr;
    // padding: 5px;
    // .primary-shadow();
    // .box-shadow(2px 2px 1px darken(@main-color, 10%));
    
    .List_Controller {
        .box-type-1();
        background-color: @main-color;
        border: 1px solid @primary-dark;
        border-top: 4px solid @primary-dark;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        .box-shadow-type-1(lighten(@primary-dark, 50%));
    }
}