@import (reference) "../../theme/const.less";
@import (reference) "../../theme/mixin.less";

.List_Container {
    
    // margin-top: -40px;
    // height: calc(~"100vh -" (@header-height - (@main-padding*2)));
    height: calc(~"100vh -" (@header-height + (@main-padding)));
    display: grid;
    
    .List_Controller {
        margin: 0 1px;
        background-color: @main-color;
        border: 1px solid @primary-dark;
        border-top: 15px solid @primary-dark;
        border-top-left-radius: 7px;
        border-top-right-radius: 7px;
        .box-shadow-type-1(lighten(@primary-dark, 50%));
    }
}