@import '../../../theme/base/const';
@import '../../../theme/base/mixin';

.Notification_Container {
  margin-right: 20px;
  // padding:10px;
  // background-color: lighten(@primary-dark, 70%);
  // border:1px solid #65CFB5;

  @include transition(background-color 0.3s ease);

  &:hover {
    background-color: lighten($primary-dark, 50%);
  }

  @include border-radius(50%);
  .Notification_Icon {
    font-size: 17px;
    color: #1dab86;
  }

  .Notification_Trigger i {
    font-size: 1.2rem;
    padding: 10px;
  }
}
