@import '../../theme/reset.less';
@import '../../theme/const.less';

.Root-Container {
  display: grid;
  grid-template-columns: 2fr 5fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  background-color: @bg-color;
}
