// @import '../../theme/base/reset';
@import '../../../../node_modules/antd/dist/antd.css';
@import '../../theme/base/const';
@import '../../theme/base/icons';

html,
body {
  height: 100vh;
}
body {
  position: relative;
  margin: 0;
  overflow: hidden;
}

#root {
  height: 100vh;
}

.Root_Container {
  display: grid;
  grid-template-columns: $corner-width 1fr;
  grid-template-rows: $header-height 1fr;
  height: 100%;
  background-color: $bg-color;
  // padding-top:5px;
}
