@import "../../../../node_modules/antd/dist/antd.less";
// @import '../../theme/common.less';
@import (reference) "../../theme/const.less";

.Root_Container {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: auto 1fr;
  height: 100vh;
  background-color: @bg-color;
  // padding-top:5px;
}
