@import (reference) "../../theme/const.less";
@import (reference) "../../theme/mixin.less";

.List_Controller {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    position: relative;
    align-items: center;
    // transition: width 0.5ms ease;
    padding:10px 10px;
    background-color: @main-color;

    .primary-border-radius();

    .box-shadow(2px 2px 1px darken(@main-color, 10%));
    // .primary-shadow();

    .Filter_Container {
        // background-color: @main-color;
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        align-items: center;
        grid-column-start: 2;
        grid-column-end: 3;
        .filter_location {
            flex-grow: 2;
            font-size:15px;
            max-width: 160px;
            .ant-select-selection__choice__content {
                font-size:10px;
            }
        }
        .filter_another1 {

            
            
            flex-grow: 1;
            text-align: center;
        }
        .filter_another2 {
            flex-grow: 1;
            text-align: center;
        }
    }
    

    .Input_Container {
        position: absolute;
        left:10px;
        top:10px;
        width: 45%;
        z-index: 10;
        transition: width 0.2s ease;
        // input {
        //     transition: width 0.5ms ease;
        // }
        
    }

    &.inputFocused {

        .Input_Container {
            width: 74%;
        }
    };
}