@import "./const";
@import "./mixin";

/************ SCROLL *********** */
@mixin custom-scroll {
  &::-webkit-scrollbar {
    width: 10px;
  }

  &::-webkit-scrollbar-thumb {
    background: #666;
    border-radius: 20px;
  }

  &::-webkit-scrollbar-track {
    background: #ddd;
    border-radius: 20px;
  }
}

@mixin button_little {
  padding:2px 5px;
  @include primary-border();
  border-style: dotted;
  border-width: 1px;
  font-size: .68rem;
  font-style: normal;
  color: #333;

  &:hover {
    border-style: solid;
  }
}

// Button settings
.astn-btn {
  transition: all .3s ease;
  border-radius: 3px;

  &:hover {
    color: $primary-dark;
  }
}