@import (reference) '../../theme/const.less';
@import (reference) '../../theme/mixin.less';
// @import '../../theme/common.less';

.Top_Header {
  grid-column: 1 e('/') -1;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height:60px;
  padding: 0 5px;
  background-color: @main-color;

  .primary-shadow();
  .border-radiuses(3px, 0, 0, 3px);
}
