@import (reference) "../../theme/const.less";
@import (reference) "../../theme/mixin.less";
@import (reference) "../../theme/common.less";

.Item_Container {

    padding-right:5px;
    overflow-y: auto;
    padding-bottom: 10px;
    height: 100%;
    margin-top: 10px;
    .custom-scroll();

    .Item {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        flex-wrap: nowrap;
        font-size: 0.9em;
        align-items: center;
        padding:8px 10px;
        height:45px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
        // max-width: 75ch;
        margin-bottom:10px;
        background-color: @main-color;
        .transition(background-color 0.07s ease);
        .box-shadow(2px 2px 1px darken(@main-color, 10%));
        .primary-border-radius();

        border-left-width: 5px;
        border-left-style: solid;
        border-left-color: rgb(226, 195, 19);
        &.active {
            border-left-color: #000;
        }

        & b {
            color : @text-black;
            word-wrap: break-word;
            max-width: 50ch;
            overflow: hidden;
            .text-shadow();
        }

        &:hover {
            background-color: #211ecc;

            b {
                color: #fff;
            };

            .moreIcon {
                color : #fff;
            }
        };
        &:focus {
            background-color: red;
            b {
                color : #dedede;
            }
            .moreIcon {
                color : #fff;
            }
        }

        .moreIcon {
            // justify-self: flex-end;
            .transition(font-size 0.1s ease);
            color: @primary-dark;
            font-weight: bold;
            font-size: 17px;
            .secondary-shadow();
            // &:hover {
            //     font-size:19px
            // }
        }
    }
}

