@import '../../theme/base/const';
@import '../../theme/base/mixin';

.List_Filter {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  position: relative;
  align-items: center;
  padding: 10px 10px;
  background-color: lighten($primary-dark, 20%);
  border-radius: 5px;
  @include box-type-1();
  border: none;
  box-shadow: none;
  border-right: none;
  border-left: none;

  .Filter_Container {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    grid-column-start: 4;
    grid-column-end: 10;
    .filter_location {
      flex-grow: 6;
      font-size: 15px;
      max-width: 185px;
      .ant-select-selection__choice__content {
        font-size: 10px;
      }
    }
    .Saved_Filter {
      // flex-grow: 1;
      font-size: 1rem;
      text-align: center;
    }
    .Search_Container {
      // flex-grow: 1;
      font-weight: bold;
      text-align: center;
      justify-self: flex-end;
      button {
        font-size: .6rem
      }
    }
  }

  .Input_Container {
    position: absolute;
    left: 10px;
    top: 10px;
    width: 30%;
    z-index: 10;
    transition: width 0.2s ease;
  }

  &.inputFocused {
    .Input_Container {
      width: 76%;
    }
  }
}
